APP__PROJECT_NAME=cinema-api
APP__DEBUG=false
APP__API_V1_PREFIX=/api/v1

ELASTICSEARCH__SCHEME=http
ELASTICSEARCH__HOST=elasticsearch
ELASTICSEARCH__PORT=9200
ELASTICSEARCH__REQUEST_TIMEOUT=5
ELASTICSEARCH__CONNECTIONS_PER_NODE=50
ELASTICSEARCH__MAX_RETRIES=2
ELASTICSEARCH__RETRY_ON_TIMEOUT=true
ELASTICSEARCH__MOVIES_INDEX=movies
ELASTICSEARCH__GENRES_INDEX=genres
ELASTICSEARCH__PERSONS_INDEX=persons
ELASTICSEARCH__USER=
ELASTICSEARCH__PASSWORD=

REDIS__HOST=redis
REDIS__PORT=6379
REDIS__PASSWORD=
REDIS__SOCKET_TIMEOUT=5
REDIS__DECODE_RESPONSES=true
REDIS__MAX_CONNECTIONS=1000

UVICORN__HOST=0.0.0.0
UVICORN__PORT=8000
UVICORN__RELOAD=false
UVICORN__WORKERS=4
UVICORN__BACKLOG=4096
UVICORN__LIMIT_CONCURRENCY=10000
UVICORN__TIMEOUT_KEEP_ALIVE=5
