PROJECT_NAME=cinema-api
DEBUG=false
API_V1_PREFIX=/api/v1

ES_SCHEME=http
ES_HOST=elasticsearch
ES_PORT=9200
ES_REQUEST_TIMEOUT=5
ES_CONNECTIONS_PER_NODE=50
ES_MAX_RETRIES=2
ES_RETRY_ON_TIMEOUT=true
ES_MOVIES_INDEX=movies
ES_GENRES_INDEX=genres
ES_PERSONS_INDEX=persons
ES_USER=
ES_PASSWORD=

REDIS_STARTUP_NODES=redis-cluster:7000,redis-cluster:7001,redis-cluster:7002,redis-cluster:7003,redis-cluster:7004,redis-cluster:7005
REDIS_PASSWORD=
REDIS_SOCKET_TIMEOUT=5
REDIS_DECODE_RESPONSES=true
REDIS_MAX_CONNECTIONS=1000

UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
UVICORN_RELOAD=false
UVICORN_WORKERS=4
UVICORN_BACKLOG=4096
UVICORN_LIMIT_CONCURRENCY=10000
UVICORN_TIMEOUT_KEEP_ALIVE=5
